<a mat-button routerLink="/blog" class="back">Back</a>
<br/>
<p></p>
<mat-card>
<form (submit)="onSavePost(postForm)" #postForm="ngForm">
  <mat-form-field>
    <input matInput type="text"
     placeholder="Title"
      name="title"
      [ngModel]="post?.title"
      required
      minlength="3"
      #title="ngModel">
    <mat-error *ngIf="title.invalid">Please enter title</mat-error>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput
    name="" id=""
    cols="50"
    rows="6"
    placeholder="Post"
    name ="content"
    [ngModel]="post?.content"
    required
    #content="ngModel">
    </textarea>
    <mat-error *ngIf="content.invalid">Please enter content</mat-error>
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit">Save Post</button>
</form>

</mat-card>


