/* Цвет текста для заголовка*/
  
h1{
  color: #FFFFFF;  
}

/*Ссылки - блочно-строчные, ширина и высота автоматические, без подчеркивания, горизонтально - по центрцу, вертикально - по средине, цвет фона, радиус закругления и тень*/

a{
 padding: 5px 40px;

 display: inline-block;

 width: auto;

 height: auto;

 text-decoration: none;

 text-align: center;

 vertical-align: middle;

 background: #e67300;

border-radius: 10px;

box-shadow: 1px 0px 11px -2px #000000;
}

/*Блок top - внутренние отступы 10px, внешний отступ слева -15рх, внешний отступ справа и сверху -8рх, цвет фона, высота и ширина автоматически, по центру*/

.header {

z-index:100;

position:absolute;

padding: 10px 10px;

margin-left: -15px;

margin-right: -8px;

margin-top: -8px;

background-color: #ffcc66;

height: auto;

width: 100%;

text-align: center;

}

/*Изменение фона ссылки, при наведении*/

a:hover {

background-color: #2ecc71;

}

/*Изменение цвета, при наведении на выделенный блок*/

.important:hover {

 background-color: #2ecc71 !important;

}

/*При нажатии на блок, цвет фона, позиция и смещение позиции (для эффекта вдавливания)*/

a:active {

 z-index: 2;

 background-color:#4ce600;

position:relative;

top:1px;

}

/*Изменение цвета фона, при нажатии на блок с анимацией*/

.important:active {

 background-color:#4ce600 !important;

}

/*Блок с телефоном и режимом работы, блочно-строчный элемент, относительная позиция, размер большой, шрифт жирный, стиль наклонный, вид Comic Sans MS*/

.regime, .phone{

display: inline-block;

position: relative;

font-size: large;

font-weight: bold;

font-style: italic;

font-family: Comic Sans MS;

}

/*Элементы списка - блочно-строчные, относительное позиционирование, отступы по горизонтали 0, по вертикали 3рх*/

li {

  display: inline-block;

  position: relative;

  margin: 0px 3px;

}

/*Не показывать вложенный список*/

nav ul ul {

display: none;

}

/*При наведении на элемент списка, показывать вложенный список*/

nav ul li:hover > ul{

  display: block;

}

/*Свойства списка: без пунктов/нумерации, позиция относительная, вид - строчная таблица*/

nav ul{

  list-style: none;

  position: relative;

  display: inline-table;

}

/*Размещение элементов списка - слева (при переносе строки)*/

nav ul li{

  float: left;

}

/*Для списка в списке, внутренние отступы 0, позиция абсолютная, */

nav ul ul{

  padding: 0;

  position: absolute;

  top: 100%;

}

/*Для ссылок внутри второстепенного меню, цвет белый, минимальная ширина 190рх, минимальная высота 30рх, радиус закругления 5рх, внутренние отступы по вертикали 10рх и 0рх по горизонтали*/

.sub-menu a{

  color: white;

  min-width: 190px;

  min-height: 30px;

  border-radius: 5px;

  padding: 10px 0px;

}

/*Для элементов основного и вложенного меню, ширина 150рх, на передний фон*/

.main-menu .sub-menu {

  width: 150px;

  z-index: 1000

}

/*Рамки для ссылок вложенного меню*/

.sub-menu a {

border: 1px solid #E5E5E5;

}
