
<div class="row header">
  <div class="col-md-12">
    <nav>

      <ul class="main-menu">

        <li><a routerLink="/" routerLinkActive="active_class" [routerLinkActiveOptions]="{exact:true}">Brazil</a></li>

        <li><a routerLink="/blog" routerLinkActive="active_class" [routerLinkActiveOptions]="{exact:true}">Blog</a></li>

        <li><a routerLink="/photos" routerLinkActive="active_class" [routerLinkActiveOptions]="{exact:true}">Photos</a></li>

        <li><a routerLink="/girls" routerLinkActive="active_class" [routerLinkActiveOptions]="{exact:true}">Girls</a></li>

        <li><a routerLink="/about" class="about" routerLinkActive="active_class" [routerLinkActiveOptions]="{exact:true}">About Brazil</a>

          <ul class="sub-menu">

            <li><a routerLink="/about/history" routerLinkActive="active_class" [routerLinkActiveOptions]="{exact:true}">History</a></li>

            <li><a routerLink="/about/places" routerLinkActive="active_class" [routerLinkActiveOptions]="{exact:true}">Places</a></li>

            <li><a routerLink="/about/beaches" routerLinkActive="active_class" [routerLinkActiveOptions]="{exact:true}">Beaches</a></li>

            <li><a routerLink="about/food" routerLinkActive="active_class" [routerLinkActiveOptions]="{exact:true}">Food</a></li>

          </ul>

        </li>

      </ul>

    </nav>
  </div>
</div>
