
<div class="header">

    <div class="regime">Welcome to LoveBrazil</div>

    <nav>

      <ul class="main-menu">

        <li><a routerLink="/"><h1>Brazil</h1></a></li>

        <li><a class="important" routerLink="/blog"><h1>Blog</h1></a></li>

        <li><a routerLink="/photos"><h1>Photos</h1></a></li>

        <li><a routerLink="/girls"><h1>Girls</h1></a></li>

        <li><a routerLink="/about" class="about"><h1>About Brazil</h1></a>

          <ul class="sub-menu">

            <li><a routerLink="/about/history">History</a></li>

            <li><a routerLink="/about/places">Places</a></li>

            <li><a routerLink="/about/beaches">Beaches</a></li>

            <li><a routerLink="about/food">Food</a></li>

          </ul>

        </li>

      </ul>

    </nav>

  </div>
