/*Блок текста, блочно-строчный элемент, относительная позиция, отступ слева на 27%, сверху на 20%, высота 65%, ширина 50%, цвет фона - оранжевый, прозрачность 0.8, внутринние отступы в 10рх, перенос текста, радиус 25 px скругление углов*/
  
.info{
  
    display: inline-block;
    
    position: absolute;
    
    left: 25%;
    
    top: 23%;
    
    height: 66%;
    
    width: 50%;
    
    background-color:orange;
    
    opacity: 0.8;
    
    padding: 10px;
    
    word-wrap: break-word;
  
    border-radius: 25px;
    
  }