/* Картинка на заднем фоне*/

body{

    background-image: url(../assets/backgroundPic.jpg);

  }

  /* Цвет текста для заголовка*/
  
  h1{
       color: #FFFFFF;  
  }
  
  /*Ссылки - блочно-строчные, ширина и высота автоматические, без подчеркивания, горизонтально - по центрцу, вертикально - по средине, цвет фона, радиус закругления и тень*/
  
  a{
      padding: 5px 40px;
  
      display: inline-block;
  
      width: auto;
  
      height: auto;
  
      text-decoration: none;
  
      text-align: center;
  
      vertical-align: middle;
  
      background: #e67300;
  
    border-radius: 10px;
  
    box-shadow: 1px 0px 11px -2px #000000;
  }
  
  /*Блок top - внутренние отступы 10px, внешний отступ слева -15рх, внешний отступ справа и сверху -8рх, цвет фона, высота и ширина автоматически, по центру*/
  
  .top {

    z-index:100;
  
    position:absolute;
  
    padding: 10px 10px;
  
    margin-left: -15px;
  
    margin-right: -8px;
  
    margin-top: -8px;
  
    background-color: #ffcc66;
  
    height: auto;
  
    width: 100%;
  
    text-align: center;
  
  }
  
  /*Изменение фона ссылки, при наведении*/
  
  a:hover {
  
    background-color: #2ecc71;
  
  }

  /*Для выделенного блока анимация частотой 3с с бесконечным циклом*/
  
  .important{
  
    animation-name: important;
  
    animation-duration: 3s;
  
    animation-iteration-count: infinite;
  
  }

  /*Изменения цвета анимации*/
  
  @keyframes important {
  
    from { background-color: red; }
  
    50% {background-color: #2ecc71; }
  
    to   { background-color: red; }
  
  }

  /*Изменение цвета, при наведении на выделенный блок*/
  
  .important:hover {
  
      background-color: #2ecc71 !important;
  
  }

  /*При нажатии на блок, цвет фона, позиция и смещение позиции (для эффекта вдавливания)*/
  
  a:active {
  
      z-index: 2;
  
      background-color:#4ce600;
  
    position:relative;
  
    top:1px;
  
  }

  /*Изменение цвета фона, при нажатии на блок с анимацией*/
  
  .important:active {
  
      background-color:#4ce600 !important;
  
  }

  /*Блок с телефоном и режимом работы, блочно-строчный элемент, относительная позиция, размер большой, шрифт жирный, стиль наклонный, вид Comic Sans MS*/
  
  .regime, .phone{
  
    display: inline-block;
  
    position: relative;
  
    font-size: large;
  
    font-weight: bold;
  
    font-style: italic;
  
    font-family: Comic Sans MS;
  
  }
  
  /*Блок текста, блочно-строчный элемент, относительная позиция, отступ слева на 25%, сверху на 5%, высота 70%, ширина 50%, цвет фона - оранжевый, прозрачность 0.8, внутринние отступы в 10рх, перенос текста, радиус 25 px скругление углов*/
  
  .info{
  
    display: inline-block;
  
    position: absolute;
  
    left: 25%;
  
    top: 30%;
  
    height: 60%;
  
    width: 50%;
  
    background-color:orange;
  
    opacity: 0.8;
  
    padding: 10px;
  
    word-wrap: break-word;

    border-radius: 25px;
  
  }
  
  /*Элементы списка - блочно-строчные, относительное позиционирование, отступы по горизонтали 0, по вертикали 3рх*/
  
  li {
  
    display: inline-block;
  
    position: relative;
  
    margin: 0px 3px;
  
  }
  
  /*Не показывать вложенный список*/
  
  nav ul ul {
  
  display: none;
  
  }

  /*При наведении на элемент списка, показывать вложенный список*/
  
  nav ul li:hover > ul{
  
    display: block;
  
  }
  
  /*Свойства списка: без пунктов/нумерации, позиция относительная, вид - строчная таблица*/
  
  nav ul{
  
    list-style: none;
  
    position: relative;
  
    display: inline-table;
  
  }

  /*Размещение элементов списка - слева (при переносе строки)*/
  
  nav ul li{
  
    float: left;
  
  }

  /*Для списка в списке, внутренние отступы 0, позиция абсолютная, */
  
  nav ul ul{
  
    padding: 0;
  
    position: absolute;
  
    top: 100%;
  
  }

  /*Для ссылок внутри второстепенного меню, цвет белый, минимальная ширина 190рх, минимальная высота 30рх, радиус закругления 5рх, внутренние отступы по вертикали 10рх и 0рх по горизонтали*/
  
  .sub-menu a{
  
    color: white;
  
    min-width: 190px;
  
    min-height: 30px;
  
    border-radius: 5px;
  
    padding: 10px 0px;
  
  }

  /*Для элементов основного и вложенного меню, ширина 150рх, на передний фон*/
  
  .main-menu .sub-menu {
  
    width: 150px;
  
    z-index: 1000
  
  }

  /*Рамки для ссылок вложенного меню*/
  
  .sub-menu a {
  
  border: 1px solid #E5E5E5;
  
  }

  /*Подпись - на передний план, фиксированая позиция при прокрутке, положение слева и снизу 0, внутринние отступы 10рх, цвет фона, цвет шрифта и ширина*/
  
  #footer {
  
    z-index: 200;
  
    position: fixed; /* Фиксированное положение */
  
    left: 0; bottom: 0; /* Левый нижний угол */
  
    padding: 10px; /* Поля вокруг текста */
  
    background: #39b54a; /* Цвет фона */
  
    color: #fff; /* Цвет текста */
  
    width: 100%; /* Ширина слоя */
  
     }

  /*Блок с надписью про 2000$ - блочно-строчный элемент, абсолютное позиционирование, ширина, полодение сверху и слева, размер шрифта, жирность шрифта, анимация*/
  
  .block-absolute{
  
    display:inline-block;
  
    position:absolute;
  
    width:190px;
  
      top: 270px;
  
      left:35px;
  
      font-size: 20px;
  
      font-weight:bold;
  
  -webkit-animation: blink 2s linear infinite;
  
  animation: blink 2s linear infinite;
  
  }
  
  