<head>

  <meta charset="utf-8">

  <title>Info</title>

  <meta name="keywords" content="Бразилия, Рио де Жанейро, путевка, тур, отдых, ">

  <meta name="description" content="Brazil is one of the most...">

</head>

<body>

<div class="top">

<div class="regime">Режим работы 8:00 - 22:00. Без Выходных</div>

<nav>

<ul class="main-menu">

<li><a href="ссылка"><h1>Главная</h1></a></li>

<li><a class="important" href="ссылка"><h1>Заказать Отдых</h1></a></li>

<li><a href="ссылка"><h1>Контакты</h1></a></li>

<li><a href="ссылка" class="about"><h1>О Бразилии</h1></a>

<ul class="sub-menu">

 <li><a href="ссылка">Общее</a></li>

 <li><a href="ссылка">Достопримечательности</a></li>

 <li><a href="ссылка">Пляжи</a></li>

 <li><a href="ссылка">Мероприятия</a></li>

 <li><a href="ссылка">Отели/Хостелы/Апартаменты</a></li>

 <li><a href="ссылка">Еда</a></li>

</ul>

</li>

<li><a href="ссылка"><h1>Отзывы</h1></a></li>  

</ul>

</nav>

<span class="phone"> Тел. 093-656-34-34</span>

</div>

<span class="info">Text</span>

<div id="footer">&copy; Владислав Мержевич</div>

</body>
