<span class="info">Photos of girls will be here</span>
<div class="pagination">
    <pagination-controls *ngIf="collection.length>3" (pageChange)="p = $event" class="container"></pagination-controls> 
    </div>
<ul>
    <li *ngFor="let item of collection | paginate: { itemsPerPage: 14, currentPage: p}"> 
        {{item.title}}, {{item.description}} 
    </li>
</ul>
<div class="pagination">
<pagination-controls *ngIf="collection.length>3" (pageChange)="p = $event" class="container"></pagination-controls> 
</div>
